h1{
    margin:10%;
}
img {
    width: 100%;
    height: auto;
}
.vitrine-accueil{
    background-color: #1D4632;
    text-align: center;
    color: white;
}
/*presentation Arcadia*/
.table-stair{
    width: 60%;
    margin: 0 auto;
}
.img-responsive-rec{
width:50%;
border-radius: 30%;
}
.img-circle{
    margin:4em;
}
.circ{
    width: 70%;
}
.tex-top,
.middle-text,
.bottom-text{
position:relative;
text-align: center;
}
.text-top{
    right:10%;
}
.middle-text{
    left: 30%;
}
.bottom-text{
    left: 20%;
}
/*section habitat*/
.text-center{
    text-align: center;
    width:50%;
    margin: 3% 25%;

}
/*Avis accueil*/

.jumbotron-fluid{
    background-color: #CBE5EB;
    color: #040404;
    text-align: center;
    padding: 5%;

}
.row-comment{
    display: flex;  
    color: black;
}
.card-body-avis{
    border-radius: 10px;
    height: 20vh;
    width: 30vh;
    background-color: #CBE5EB;
    color: #040404;
}

/*section Animaux*/
.animal-link{
    position:absolute;
    margin: -8em -2em ; 
    font-size: 2em;
    padding: 3%;
    width: 40%;
}

@media screen and (max-width: 700px) {
    .animal-link{
        font-size: 2rem;
        width: 70%;
        left: 7em; 
        margin-top: -13em;      
    }
}

/*Pages avis*/
/*formulaire Avis*/
.form-comment{
    color:#040404;
}

/*PAGE SERVICE*/

.service1 {
    width: 50%; 
    max-width: 100%;
    height: auto;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
.service2 {
    float: right;
    width: 50%;
    max-width: 100%;
    height: auto;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
}
.service3 {
    float: left;
    width: 50%;
    max-width: 100%;
    height: auto;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
}